<div class="row">
	<main class="col-md-12">


		<br>
		<!-- Start your code here -->
		<!--Top Block Content-->
		<main  class="sec-background">	

			<h1 class="about-title">
				About Chathura.G Page
			</h1>
			</main>

			<p></p>
			<main  class="sec-background">	
			<h3>
				Want To Know More About Me?
			</h3>

			
				<p>My name is Chathura Galhena.
					My StudentID  Number is 143531218.</p>
				<p>This program shows students, courses, teaching assistants using a simple html and javascript code with help of express for routing. 
					This program also show student with their specific number as well as list of student based on their course number.
				</p>
			
		</main>
		<br>
		<!-- End your code here  -->



	</main>
</div>
