
<div class="row">
	<main class="col-md-12">

		<br>

		<!-- Start your code here -->
		<!--Top Block Content-->
		<main  class="sec-background">	

		<h1>
			Welcome Visitors, To My Website
		</h1>

		
			<p>Here i will be showing you some HTML5 coding and how to do inline styling of these HTML5 code</p>
		

		
			<p>This Project also uses Express.js For Routing</p>
		
		</main>

		<br>

		<!--Middle Block Content-->
		<main class="sec-background inf">
		<h3>
			What You Will Find Here
		</h3>

		<p>
			This site consists of 3 static views, which are 
			<a href="/" >Home</a>, 
			<a href="./about" >About</a>, 
			<a href="./htmlDemo" >Html Demo</a> 
			as well as 5 routes that supply data , including: 
			<a href="./students">All Students</a>, 
			<a href="./students?course=4">Students by Course</a>, 
			<a href="./students/100">A Single Student By Student Number</a>,
			<a href="./tas">All Teaching Assistants</a> and 
			<a href="./courses">All Courses</a>.  
		</p>

		</main>

		
	
		
		<!--Bottom Block Content-->
		<main class="sec-background html">
			<h3>
				About HTML5
			</h3>
			
			<p>
				This site utilizes HTML5: Hypertext Markup Language revision 5 is markup language for the structure and presentation of World Wide Web contents. 
				HTML5 supports the traditional HTML and XHTML-style syntax and other new features in its markup, New APIs, XHTML and error handling.
			</p>
			<p>
				Some advantage of HTML5 are:
			</p>
			<ol >
				<li>Cleaner markup/ Improved code</li>
				<li>Elegant forms</li>
				<li>Consistency</li>
				<li>Supports rich media elements</li>
				<li> Offline Application Cache</li>
				</ol>
		</main>

		<!-- End your code here  -->

	</main>
</div>
		