<div class="row">
	<main class="col-md-12">


					<br>
					<!-- Start your code here -->
					<!-- Page Title -->
					<main  class="sec-background">	

						<h2>
							Media Page
						</h2>
						</main>
						<br>
					<!-- Table -->
					<main  class="sec-background">
						<h2>
							Course Available</h2>
							<br>
						<table class="table">
							<caption class="caption">This table shows Total number of courses along with their id, code and description</caption>
							<thead>
								<tr>
									<th >Course Id</th>
									<th>Course Code</th>
									<th >Description</th>
								</tr>
							</thead>
						
							<tbody>
								<tr>
									<td>1</td>
									<td>DES720</td>
									<td>Relational Database Design and Implementation</td>
								</tr>
								<tr>
									<td>2</td>
									<td>JAV745</td>
									<td>Java Programming</td>
								</tr>
								<tr>
									<td>5</td>
									<td>WEB700</td>
									<td>Web Programming</td>
								</tr>
								<tr>
									<td>8</td>
									<td>DBD800</td>
									<td>Accessing Big Data</td>
								</tr>
							</tbody>
						
							<tfoot>
								<tr >
									<th colspan="2">Total Course</th>
									<th>4</th>
								</tr>
							</tfoot>
						</table>
					</main>

					<br>

					<!-- Lists -->
					<main  class="sec-background links">
						<h2>
							Useful Links</h2>
							<br>
							<ol>
							  <li><a href="/" >Home</a></li>
							  <li><a href="./about" >About</a></li>
							  <li><a href="./htmlDemo" >Html Demo</a></li>
							  <li><a href="./students" >All Students</a></li>
							  <ul>
								<li><a href="./students/1">Foster Thorburn</a></li>
								<li><a href="./students/2">Emmy Trehearne</a></li>
								<li><a href="./students/3">Zonnya Laytham</a></li>
								<li><a href="./students/4">Asia Bollon</a></li>
								<li><a href="./students/5">Ysabel Collyns</a></li>
							</ul>
							  <li><a href="./students?course=4" >Student By Course</a></li>
							  <li><a href="./tas" >Teaching Assistants</a></li>
							  <li><a href="./courses" >Courses</a></li>
							  
							</ol>
							<p>This list gives us all the useful link that we can access for example All student show us all student while list below that give us particular information of given student.</p>
					</main>

					<br>

					<!-- Image -->
					<main  class="sec-background">
						<h2>
							Images
						</h2>
						<br>
						<div >
							<div class="images">
								<img src="1.jpg" alt="Snow Boarding" height="200" width="200"/>
								<p >This is image 1</p>
							</div>
							<div class="images">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Pencil_drawing_of_a_girl_in_ecstasy.jpg/800px-Pencil_drawing_of_a_girl_in_ecstasy.jpg" alt="Girl Sketch" height="200" width="200"/>
								<p >This is image 2</p>
							</div>
							<div class="images">
								 <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png" alt="Photography" height="200" width="200"/>
								<p >This is image 3</p>
							</div>
							<div class="images">
								<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/MigrantMotherColorized.jpg/800px-MigrantMotherColorized.jpg" alt="Mother" height="200" width="200"/>
							   <p >This is image 4</p>
						   </div>
						   <div class="images">
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Lillyacp.jpg/800px-Lillyacp.jpg" alt="Flower" height="200" width="200"/>
						   <p >This is image 5</p>
					   </div>
							
						</div>
						<p> This Section Shows 3 Images and incase if those image are not shown their alternative text are shown.</p>
					</main>

					<br>

					<!-- Audio -->
					<main  class="sec-background">
						<h2>
							Audio
						</h2>
						<br>
						<div>
							<audio controls>
								<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mp3">
								<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
							  Your browser does not support the audio element.
							  
							  </audio>
							  <audio controls >
								<source src="https://cdnsongs.com/music/data/Sad_Songs/201705/Broken_Heart_Songs_CD_1/128/Kya_Hua_Tera_Wada.mp3" type="audio/mp3" >
								<source src="https://cdnsongs.com/music/data/Sad_Songs/201705/Broken_Heart_Songs_CD_1/128/Kya_Hua_Tera_Wada.ogg" type="audio/ogg">
							  Your browser does not support the audio element.
							  
							  </audio>
							    
						</div>
						<p>This Section Include audio media one of which is song whose link is copied from one website and it will automatically plays since 
							'autoplay' is used while another audio has no autoplay, these audio can be play and paused using HTML5 default media player.
						</p>
					</main>

					<br>

					<!-- Video -->
					<main  class="sec-background">
						<h2>
							Video
						</h2>
						<br>
						<div>
							<video width=100% height=100% controls>
								<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
								<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
								<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
							  Your browser does not support the video tag.
							  </video>
						</div>
						<p>This section include video which shows rotating planet earth from space, this video can be play and paused using HTML5 
							default video player.</p>
						
					</main>
					<!-- End your code here  -->



	</main>
</div>
