<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ABOUT Author</title>
    </head>

    <body>
        <article>
            <header>
                <h3>About Us</h3>
            </header>
            <nav>
                <h5>
                    <ul>Tutor: Chathura Galhena</ul>
                    <ul>Seneca Student Number: 143531218 </ul>
                    <ul>Program: WEB700 </ul>
                    <ul>College: Seneca College, Toronto, ON </ul>
                </h5>
            </nav>
                
            
        </article>
    </body>
</html>
