<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Seneca Web Page</title>
    </head>

    <body>
        <h1>Welcome to Seneca  website</h1>
    

        <article>
            <header>
                <h3>I will be demonstrating HTML5 principles and techniques</h3>
                <nav>
                    <ul>
                        <a href="home.html"> Home </a> 
                        <a href="about.html">  | About </a> 
                        <a href="htmlDemo.html">  | HTML Demo </a> 
                    </ul>
                </nav>
                <ol>
                    <a id = "students" href="http://localhost:8080/students"><li>All Students</li></a>
                    <a id = "students" href="http://localhost:8080/students/?course=4"><li>Students by Course</li></a>
                    <a id = "students" href="http://localhost:8080/student/5"><li>A Single Student By Student Number</li></a>
                </ol>
                
            </p>
            </header>
        </article>
        <div>
            
        </div>
    </body>
</html>
